<header>
    <h1 id='homepage'>Weather</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>

<script>
        document.getElementById("homepage").addEventListener("click", myFunction);
            function myFunction() {
                window.location='http://localhost:3000'
            }
</script>

    